
.get_title:hover::after {
  content: attr(data-title);    /* 取到data-title属性的值 */
  display: inline-block;
  padding: 10px 14px;
  border: 1px solid #ddd;
  background: #fbff00;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  right: -150px;
}

.view {
  border: 1px solid #000000;
  position: absolute;
  left: 30px;
}
.rect {
  position: absolute;
  width:100px;
  text-align: center;
  height: 50px;
  background: #6de9ff;
}