a { text-decoration: none; color: #000; }
.logo { height: 40px; font-size: 30px; padding: 0 5px; }
a:hover {  border-radius: 5px; background: #89ffc8; }
h1:hover, h2:hover { color: #60ac88; }
/* 两个 图标 30px */
.eslint, .editorConfig { width: 30px; }